# Logs
logs
*.log
pnpm-debug.log*

# Dependencies
node_modules

# Build outputs
dist
dist-ssr
coverage

# Local env
*.local

# Tooling
*.tsbuildinfo
.eslintcache
.dev-logs
.turbo

# Editor
.DS_Store
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/*
!.vscode/extensions.json

# Cypress
cypress/videos/
cypress/screenshots/

# Vitest
__screenshots__/

# Vite
*.timestamp-*-*.mjs
